In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('sona.csv')

    name  age
0    ram   24
1  shyam   30

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('lecture').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark=spark.read.csv('sona.csv')

In [8]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| name|age|
|  ram| 24|
|shyam| 30|
+-----+---+

In [9]:
df_pyspark1=spark.read.option('header', 'true').csv('sona.csv')

In [10]:
df_pyspark1.show()

+-----+---+
| name|age|
+-----+---+
|  ram| 24|
|shyam| 30|
+-----+---+

In [11]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark1.head()

Row(name='ram', age='24')

In [13]:
df_pyspark1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)